.pragmatic_logo {
    font-family: 'Staatliches', cursive;
}

.pragmatic_footer_button {
    font-size: .6rem;
}

.pragmatic_footer {
    text-align: center;
    margin-top: 2rem;
}

.pragmatic_header {
    text-align: center;
    margin-top: 2rem;
    text-decoration: none;
}

@media screen and (max-width:500px) {
    html {
        font-size: 13px;
    }
}